/* global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.grid-wrap {
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(20px, auto);
}
.montserrat {
    font-family: 'Montserrat', sans-serif !important;
}
.roboto {
    font-family: 'Roboto', sans-serif !important;
}
.horizontal-center {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.horizontal-center2 {
    position: relative;
    margin: 0 auto;
}
.vertical-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.both-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text-light2 {
    color: #b0b0b0;
}
/* header, nav */
header {
    grid-column: 1/13;
    position: fixed;
    width: 100%;
    z-index: 999;
}
.navbar-toggler {
    border-radius: 0;
    background-color: #8980fe;
    border-color: #8980fe;
}
.navbar-toggler:hover {
    background-color: #7369F9;
}
/* showcase */
.showcase {
    grid-column: 1/13;
    height: 100vh;
    background: #6819e8;
    background: -webkit-linear-gradient(left, #6819e8 0%, #7437d0 35%, #615fde 68%, #6980f2 100%);
    background: linear-gradient(to right, #6819e8 0%, #7437d0 35%, #615fde 68%, #6980f2 100%);
}
.innerwrap {
    width: 80%;
}
.innerwrap h1 {
    font-size: 36px;
    color: #fff;
    font-weight: 100;
}
.innerwrap p {
    font-size: 21px;
    color: #fff;
    font-weight: 100;
}
.innerwrap .d-block {
    width: 15px;
}
.innerwrap hr {
    border-bottom: 1px solid #fff;
}
.innerwrap h1 strong {
    font-weight: bold;
}
/* greeting */
.greeting {
    grid-column: 1/13;
    padding-top: 60px;
    padding-bottom: 60px;
}
.greeting h1 {
    font-weight: bold;
    grid-column: 1/13;
    font-size: 42px;
    border-bottom: 1px solid #fff;
    display: inline-block;
    width: 160px;
    height: 52px;
}
.greeting p {
    grid-column: 1/13;
    font-size: 25px;
    font-weight: 100;
    line-height: 27.5px;
}
/* ideology */
.ideology {
    grid-column: 1/13;
}
.ideology-header {
    grid-column: 1/13;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 12px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.ideology-cards {
    grid-column: 1/13;
}